.App{
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
};
.container-table{
  display: flex;
}
table, th, td{
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border: 1px ;
  text-align: center;
  color: aliceblue;
};
h2{
  color: aliceblue;
}
